html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow: hidden;
}


#navbar{
    width: 100%;
    height: 80px;
    background-color: #333;
    border: 2px solid #3693ff;
}

.text-primary{
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
}

#navbar ul{
    display: block;
    text-align: center;
    width: fit-content;
    position: sticky;
    left: 30px;
}

#navbar ul li{
    display: inline-block;
    float: left;
    list-style-type: none;
    padding: 5px 16px 0 16px;
}

#navbar ul li a{
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar li a:active{
    background-color: lightcoral;
}

#navbar li a:active{
    top:3px;
}

#contact-markup{
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url(images/abstract2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.markup-content{
    background-color: rgba(0,0,0,.4);
    height: 100%;
}

.container{
    color: white;
    text-align: center;
    position: relative;
    top: 40px;
}

h1.six{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 0.8rem;
}

img.he{
    width: 30vw;
}

img.xyz{
    width: 14vw;
    margin: 1rem 0;
    position: relative;
    left: -10px;
}
img.abc{
    width: 14vw;
    position: relative;
    left: -9px;

}
img.four{
    width: 10vw;
    display: inline;
    float: left;
    position: relative;
    left: 35%;
    width: 14vw;
}
img.five{
    width: 10vw;
    display: inline;
    float: left;
    position: relative;
    left: 40%;
    width: 13vw;
}


h2.third{
    margin: 0.5rem 0;
}

.blah{
    color: white;
    position: absolute;
    top: 57%;
    font-size: 1.2rem;
}

.pqr{
    color: white;
    position: absolute;
    top: 74%;
    font-size: 1.2rem;
}

h1.H{
    color: white;
    margin:5px 0;
}


a:active .xyz, a:active .abc, a:active .four, a:active .five{
    transform: scale(1.2);
    box-shadow: 6px 6px 6px rgba(241, 239, 239, 0.3);
}

a:active .xyz, a:active .abc, a:active .four, a:active .five{
    transition: transform 0.1s ease-in;
}






@media only screen and (min-width:1000px)
{

body{
    overflow: hidden;
    text-align: center;
}
#navbar{
    display: flex;
    justify-content:space-between;
    background: #333;
    color:#fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border: 3px solid #3693ff;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

#navbar h2 a{
    text-decoration: none;
    color:#fff;
}

#navbar li a{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 .5rem;
    border-radius: 5px;
    position: relative;
    transition: background-color .3s;
}

#navbar li a:hover{
    background-color: lightcoral;
}

#navbar li a:active{
    top:3px;
}

.text-primary{
    color: #fff;
    font-size: 1.7rem;
    position: relative;
    top: -13px;
}

#contact-markup{
    background: url(images/abstract1.jpg) no-repeat center center/cover;
    height: 92vh;
}

.container{
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 4%;
    right: 0;
    bottom: 0;
    left:0;
    font-family: Arial, Helvetica, sans-serif;
   
}

.markup-content{
  
    background: rgba(0,0,0,.5);
    height: 91vh;
}

.markup-content h1{
    font-size: 3rem;
    margin-bottom: .5rem;
}

.markup-content h2{
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1rem;

}
img.xyz{
    width: 4vw;
    float: left;
    margin-right: 0.5rem;

}

img.abc{
    width: 4vw;
    float: left;
    margin-top: 1rem;
    margin-right: 2rem;
}

.container a{
    text-decoration: none;
    color: white;
    font-size: 2rem;
    text-align: center;
}

.blah{
    position: relative;
    top: 20px;
    left: 5px;
    font-size: 1.4rem;
}

.pqr{
    position: relative;
    top: 20px;
    left: -12px;
    font-size: 1.4rem;
}

h1.six{
    margin-bottom: 20px;
}

h1.H{
    margin-top: 10px;
}

img.he{
    width: 10vw;
}

h2.third{
    margin-top: 10px;
    margin-bottom: 0;
}

img.four{
    width: 4vw;
    margin: 0.8rem 0;
    position: relative;
    left: -14px;

}

img.five{
    width:3.6vw;
    margin: 0.8rem 0;
    position: relative;
    left: 10px;
}

a:hover .xyz, a:hover .abc, a:hover .four, a:hover .five{
    transform: scale(1.2);
    box-shadow: 6px 6px 6px rgba(241, 239, 239, 0.3);
}

a:active .xyz, a:active .abc, a:active .four, a:active .five{
    transform: scale(1.2);
    box-shadow: 6px 6px 6px rgba(241, 239, 239, 0.3);
}

a:hover .xyz, a:hover .abc, a:hover .four, a:hover .five{
    transition: transform 0.1s ease-in;
}

a:active .xyz, a:active .abc, a:active .four, a:active .five{
    transition: transform 0.1s ease-in;
}

}