html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

#navbar{
    width: 100%;
    height: 80px;
    background-color: #333;
    border: 2px solid #3693ff;
}

.text-primary{
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
}

#navbar ul{
    display: block;
    text-align: center;
    width: fit-content;
    position: sticky;
    left: 30px;
}

#navbar ul li{
    display: inline-block;
    float: left;
    list-style-type: none;
    padding: 5px 16px 0 16px;
}

#navbar ul li a{
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar li a:active{
    background-color: lightcoral;
}

#navbar li a:active{
    top:3px;
}


#home-markup{
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url(images/abstract2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.markup-content{
    background-color: rgba(0,0,0,.4);
    height: 100%;
}

.container{
    position: relative;
    top: 180px;
    text-align: left;
}

.H{
    color: white;
    font-size: 2rem;
    text-shadow:4px 4px 1.3px #333;
}

.He{
    color: white;
    padding: 10px 0;
    font-size: 1.4rem;

}


img.xyz{
    width: 15vw ;
    float: left;
    display: block;
    position: sticky;
    margin-top: 5px;
    left: 0%;
}

img.abc{
    width: 15vw;
    float: left;
    display: block;
    position: relative;
    margin-top: 0;
    top: -14px;
    left: 4%;
}

a:active .abc, a:active .xyz{
    transform: scale(1.5);
}

a.active .abc, a:active .xyz{
    transition: transform 0.2s ease-in;
}



    














@media only screen and (min-width:1000px){


body{
    color: #333;
    line-height: 1.4;
    overflow-x: hidden;
}

.content{
    max-width: 1100px;
    margin: auto;
   
}

.text-primary{
    color: #fff;
    font-size: 1.7rem;
    position: relative;
    top: -13px;
}

#navbar{
    display: flex;
    justify-content:space-between;
    background: #333;
    color:#fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border: 3px solid #3693ff;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

#navbar h2 a{
    text-decoration: none;
    color:#fff;
}

#navbar li a{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 .5rem;
    border-radius: 5px;
    position: relative;
    transition: background-color .3s;
}

#navbar li a:hover{
    background-color: lightcoral;
}

#navbar li a:active{
    top:3px;
}

#home-markup{
    
        width: 100%;
        height: calc(100vh - 80px);
        background-image: url(images/abstract2.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    
}

.container{
    color: white;
    position: relative;
    top: 180px;
    text-align: center;
}

.markup-content{
    background-color: rgba(0,0,0,.4);
    height: 100%;
}

.markup-content h1{
    font-size: 3rem;
    margin-bottom: .5rem;
}

.markup-content p{
    font-size: 1.5rem;
}

img.xyz{
    float: left;
    width: 5vw;
    position: relative;
    left: 44%;
 
    }


img.abc{
    float: left;
    width: 5vw;
    position: relative;
    left: 46%;
    top: -17px;
 
}

a:hover .xyz, a:hover .abc{
    transform: scale(1.2);
    box-shadow: 6px 6px 6px rgba(241, 239, 239, 0.3);
}

a:hover .xyz, a:hover .abc{
    transition: transform 0.2s ease-in;
}

a:active .abc, a:active .xyz{
    transform: scale(1.2);
}

a.active .abc, a:active .xyz{
    transition: transform 0.2s ease-in;
}

h1.H{
    font-size: 4rem;
}

p.He{
    font-size: 2rem;
}

}