html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    overflow: hidden;
}


#navbar{
    width: 100%;
    height: 80px;
    background-color: #333;
    border: 2px solid #3693ff;
}

.text-primary{
    color: #fff;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 0;
}

#navbar ul{
    display: block;
    text-align: center;
    width: fit-content;
    position: sticky;
    left: 30px;
}

#navbar ul li{
    display: inline-block;
    float: left;
    list-style-type: none;
    padding: 5px 16px 0 16px;
}

#navbar ul li a{
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s;
}

#navbar li a:active{
    background-color: lightcoral;
}

#navbar li a:active{
    top:3px;
}

#projects-markup{
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url(images/abstract2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.markup-content{
    background-color: rgba(0,0,0,.4);
    height: 100%;
}

#container{
    color: white;
    text-align: left;
    position: absolute;
    top: 20%;
}

#ldr{
    margin: 1.5rem 0;
}
#counter{
    margin: 2rem 0;
}

#nas{
    margin: 2rem 0;
}

.xyz{
    margin-bottom: .5rem;
}

a.link{
    color:lightcoral;
    text-decoration: none;
}

.link:active{
    background-color: gray;
}





















@media only screen and (min-width:1000px)
{

body{
    overflow: hidden;
}
#navbar{
    display: flex;
    justify-content:space-between;
    background: #333;
    color:#fff;
    padding: 1.5rem 8rem;
    position: sticky;
    top: 0;
    z-index: 1;
    border: 3px solid #3693ff;
}

#navbar ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

#navbar h2 a{
    text-decoration: none;
    color:#fff;
}

#navbar li a{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.3rem;
    margin: 0 .5rem;
    border-radius: 5px;
    position: relative;
    transition: background-color .3s;
}

#navbar li a:hover{
    background-color: lightcoral;
}

#navbar li a:active{
    top:3px;
}

.text-primary{
    color: #fff;
    font-size: 1.7rem;
    position: relative;
    top: -13px;
}

#projects-markup{
    background: url(images/abstract1.jpg) no-repeat center center/cover;
    height: 91vh;

}

.markup-content{
    background: rgba(0,0,0,.5);
    height: 91vh;
}
#container{
    color: white;
    align-items: left;
    position: absolute;
    top: 15%;
  
}
#ldr , #counter , #nas{
    margin: 3rem 0;
}
h2.xyz {
    font-size: 2.5em;
    margin: 0.3em 0;
    font-family: Arial, Helvetica, sans-serif;
}


#ldr a, #counter a, #nas a{
    text-decoration: none;
    color: lightcoral;

}

p.abc{
    font-size:2em;
    margin-top: .5em;
    margin-bottom: .5em;
}


.link:hover, .link:active{
    background-color: gray;
}

}


